lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz

pids
logs
results

.nyc_output/
coverage
build
node-addon-api

core
deps/libffi/fficonfig.h
deps/libffi/include/ffi.h
deps/libffi/include/ffitarget.h
deps/libffi/local.exp
vgcore.*

/.github
/.jshintrc
/.travis.yml
/appveyor.yml
/example
/test
